@import url("https://fonts.googleapis.com/css?family=Crafty+Girls|Open+Sans");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");


body {
	font-family: $font-secondary;
	font-size: 1.5rem;
	line-height: 160%;
	color: rgba($white, 70);
	margin: 0;
}

article {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

video { 
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url('../../assets/img/muffin.png') no-repeat; 
background-size: cover;  
-webkit-transition: 1s opacity; 
transition: 1s opacity;
}

#{headings()} {
	font-family: $font-primary;
	font-weight: normal;
	color: $yellow;
	@include text-shadow($black 1px 1px);
}

h1 {
	font-size: 2.5rem;
	line-height: 130%;
	margin: 1% 0;
	padding: 0;
	color: $lime;
}

a {
    //display: in-line block;
    color: $yellow;
    text-decoration: none;
    //background: rgba($black, 0.5);

    &:hover {
        @include single-transition(all, 1s, ease-out);
        background: $fade-background;
      }
  }

button {
  display: block;
  width: 100%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  @include single-transition(all, 1s, ease-out);

  &:hover {
    @include single-transition(all, 1s, ease-out);
    background: $fade-background;
  }
}

.stopfade { 
  opacity: .8; 
}

