@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Merriweather+Sans");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

* {
	@include box-sizing(border-box);
}

body {
	font-family: $font-secondary;
	font-size: 1.2rem;
	line-height: 160%;
	color: $blue-grey;
}

#{headings()} {
	font-family: $font-primary;
	font-weight: normal;
	color: $yellow;
	@include text-shadow($black 1px 1px);
}

h1 {
	font-size: 2.2rem;
	line-height: 110%;
	color: $lime;
}

section {
	height: 100vh;
	padding: 8%;
  background: $deep-purple;

  @include display-flex;
  @include align-items(stretch);
  @include align-content(center);
}

