@import url("https://fonts.googleapis.com/css?family=Crafty+Girls|Open+Sans");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");


body {
	font-family: $font-secondary;
	font-size: 1.2rem;
	line-height: 160%;
	color: $blue-grey;
	background: $deep-purple;
}

#{headings()} {
	font-family: $font-primary;
	font-weight: normal;
	color: $yellow;
	@include text-shadow($black 1px 1px);
}

h1 {
	font-size: 3rem;
	line-height: 130%;
	color: $lime;
}



