//Content ===========================================

.layout {
		display: table;
		padding: 2rem;
		width: 33%;
		//height: 100%;
		background: rgba($black, 0.3);
		float: right;
		height: 100vh;

		@include box-sizing(border-box);

		.primary {
			display: table-cell;
		  text-align: left;
		  vertical-align: middle;
		}

		.secondary {
			display: table-footer-group;
		}
}

//Media query ===========================================

@media only screen 
	and (min-device-width: 681px)
	and (max-device-width: 1024px) {
	body {
		font-size: 1.25rem;

		h1 {
			font-size: 1.75rem;
		}

		.layout {
			width: 50%;
			display: table;
		}
	}

}

@media (max-device-width: 680px) {
	body { 
		background: url("../../assets/img/muffin.png") #000 no-repeat center center fixed; 
		background-size: cover; 
		font-size: 1rem;
	}
	#bgvid,
	button {
		display: none;
	}
	.layout {
		display: table;
		width: 100%;
		margin: 0;
		float: none;

		.primary {
			display: block;

			article {
				margin-top: 1rem;
			}

			h1 {
				font-size: 1.25rem;
			}
		}
	}
}
