#main {
	display: flex;		
}

/*
.container {
	display: none;
}
*/

nav #display-content .show{
	display: block;
}

/*
.show {
	display: none;
}
*/
.panel {
	height: 60px;
  width: 60px;
}

.misc {
	//width: 100%;
	background: $lime;
	float: left;
}